[Desktop Entry]
Name=Steam
Exec=sh -c "sleep 5; exec steam -silent %U"
Icon=steam
MimeType=x-scheme-handler/steam;x-scheme-handler/steamlink;
NoDisplay=false
Path=
PrefersNonDefaultGPU=true
StartupNotify=true
Terminal=false
TerminalOptions=
Type=Application
X-KDE-RunOnDiscreteGpu=true
X-KDE-SubstituteUID=false
X-KDE-Username=
